.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;

    .logo {
        max-width: 720px;
        height: 6.56rem;
        margin: 1rem auto;
    
        display: flex;
        align-items: center;    
    }

    .postContent {
        max-width: 720px;
        margin: 0 auto;

        article {
            margin-bottom: 2rem;
            
            h1 {
               font-size: 1.75rem; 
               line-height: 2.5rem;
               color: var(--heading);
            }

            p {
                font-size: 1.125rem;
                line-height: 2rem;
                color: var(--body);
            }

            .info {
                height: 3.25rem;
                display: flex;
                align-items: center;
                color: var(--info);

                time {
                    margin: 0 2.5rem 0 0.6rem;
                }

                span {
                    margin: 0 0.6rem;
                }
            }
        }

    }

    .botaoCarregar {
        background: transparent;
        border: none;
        font-size: 1.125rem;
        line-height: 1.5rem;
        color: var(--highlight);
        transition: filter 0.2s;

        &:hover {
            filter: brightness(0.8);
        }
    }
}