.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;

    .imageContainer {
        height: 440px;
    }

    .postContainer {
        max-width: 720px;
        margin: 0 auto;

        header {
            margin-bottom: 2rem;
            
            h1 {
               font-size: 3rem; 
               line-height: 3.625rem;
               color: var(--heading);
            }

            .info {
                height: 4rem;
                display: flex;
                align-items: center;
                color: var(--info);
                margin-bottom: 1rem;

                div {
                    margin: 0.5rem 0;
                }

                time {
                    margin: 0 2.5rem 0 0.6rem;
                }

                span {
                    margin: 0 2.5rem 0 0.6rem;
                }
            }
        }

        hr {
            color: #d7d7d7;
            opacity: 0.1;
            margin: 2.5rem 0;
        }

        .navegacao {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;

            span {
                &:first-child {
                    text-align: left;
                }

                &:last-child {
                    text-align: right;
                }

                p {
                    font-size: 1.075rem;
                    font-style: normal;
                    font-weight: 400;
                }

                a {
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    color: var(--highlight);
                }
            }
        }
    }
}
