.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 6.56rem;
    border-bottom: 1px solid black;
}

.content {
    max-width: 720px;
    height: 6.56rem;
    margin: 0 auto;

    display: flex;
    align-items: center;
}